---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// Fix layout issue in default minima theme
.social-media-list .svg-icon {
    padding-top: 2px;
}

.popup-button {
    padding: 5px 10px;
    background-color: #d24040;
    color: #FFFFFF !important;
    border-radius: 5px;
    text-decoration: none !important;
    font-style: normal !important;
    margin-bottom: 10px;
    display: inline-block;
}

.popup-button:hover {
    background-color: #a63a3a;
}