---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// Fix layout issue in default minima theme
.social-media-list .svg-icon {
    padding-top: 2px;
}

.site-footer {
    background-color: #F1F1F1;
}

.footer-col-1, .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}

.post-content h1 {
    // color: #CC0000;
    color: #d24040;
    margin-top: 30px;
    margin-bottom: 7px;
    font-weight: 600;
}

.primary-button, .secondary-button {
    padding: 5px 10px;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none !important;
    font-style: normal !important;
    color: #FFFFFF !important;
}

.primary-button {
    background-color: #d24040;
}

.primary-button:hover {
    background-color: #a63a3a;
}

.secondary-button {
    background-color: #383838;
}

.secondary-button:hover {
    background-color: #2c2c2c;
}

.button-container {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    gap: 7px;
}

.chip {
    background-color: #DDDDDD;
    padding: 4px 5px;
    border-radius: 3px;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.two-column-cards {
    display: flex;
    width: 100%;
    gap: 20px;
}

@include media-query($on-palm) {
    .two-column-cards {
        flex-direction: column;
    }
}

.two-column-cards > * {
    flex: 1;
    padding: 12px 18px;
    background-color: #F1F1F1;
    border-radius: 3px;
    margin-bottom: 20px;
}

.two-column-cards h3 {
    // color: #CC0000;
    color: #d24040;
    font-weight: 600;
    margin-bottom: 5px;
}

.two-column-cards p {
    margin-top: 12px
}

.site-header {
    border-top: 3.5px solid $grey-color-dark;
    border-bottom: 1.5px solid $grey-color-light;
}

.container-video {
    aspect-ratio: 16 / 9;
}

.container-mb {
    margin-bottom: 10px;
}

.space-on-top {
    margin-top: 30px;
}