---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// Fix layout issue in default minima theme
.social-media-list .svg-icon {
    padding-top: 2px;
}

.site-footer {
    background-color: #F1F1F1;
}

.footer-col-1, .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}

.post-content h1 {
    color: #CC0000;
    margin-top: 30px;
    margin-bottom: 7px;
    font-weight: 600;
}

.popup-button {
    padding: 5px 10px;
    background-color: #d24040;
    color: #FFFFFF !important;
    border-radius: 5px;
    text-decoration: none !important;
    font-style: normal !important;
    margin-bottom: 10px;
    display: inline-block;
}

.popup-button:hover {
    background-color: #a63a3a;
}

.chip {
    background-color: #DDDDDD;
    padding: 4px 5px;
    border-radius: 3px;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}